<main class="first-page" *ngIf="isContentVisible()">
  <p class="first-page__title">{{ title }}</p>

  <button
    (click)="changeListOrGrid()"
    [ngStyle]="{
      'background-color': 'transparent',
      border: '1px solid white',
      color: 'white',
      padding: '5px 10px',
      'margin-bottom': '10px'
    }"
  >
    {{ isListView ? "grid" : "list" }}
  </button>

  <div
    *ngIf="isListView; else cardView"
    [ngStyle]="{ display: 'flex', 'flex-wrap': 'wrap' }"
  >
    <ng-container *ngFor="let item of data; let i = index">
      <div [ngSwitch]="item.type" *ngIf="item.isVisible; else hiddenContent">
        <div
          *ngSwitchCase="enumValue.FIRST_TYPE"
          [ngStyle]="{
            width: '150px',
            margin: '20px'
          }"
        >
          <h3 [ngStyle]="{ color: 'white', textAlign: 'center' }">
            {{ item.title }}
          </h3>
          <p>{{ item.url.slice(0, 20) }}</p>
          <button
            (click)="toggleContentVisibility(item)"
            [ngStyle]="{
              'background-color': 'transparent',
              border: '1px solid white',
              color: 'white',
              padding: '5px 10px',
              'margin-bottom': '10px'
            }"
          >
            Toggle Visibilty
          </button>
        </div>
        <div
          *ngSwitchCase="enumValue.SECOND_TYPE"
          [ngStyle]="{
            width: '150px',
            'background-color': 'white',
            margin: '20px'
          }"
        >
          <h3 [ngStyle]="{ color: 'black' }">{{ item.title }}</h3>
          <p>{{ item.url.slice(0, 20) }}</p>

          <button
            (click)="toggleContentVisibility(item)"
            [ngStyle]="{
              'background-color': 'transparent',
              border: '1px solid black',
              color: 'black',
              padding: '5px 10px',
              'margin-bottom': '10px'
            }"
          >
            Toggle Visibilty
          </button>
        </div>
      </div>
      <ng-template #hiddenContent
        ><div
          [ngStyle]="{
        width: '150px',
  
      }"
        >
          <p>Data is hidden</p>
          <button
            (click)="toggleContentVisibility(item)"
            [ngStyle]="{
              'background-color': 'transparent',
              border: '1px solid white',
              color: 'white',
              padding: '5px 10px',
              'margin-bottom': '10px'
            }"
          >
            Toggle Visibilty
          </button>
        </div>
      </ng-template>
    </ng-container>
  </div>
  <ng-template #cardView>
    <div
      [ngStyle]="{
        display: 'grid',
        'grid-template-columns': 'repeat(4, 1fr)'
      }"
    >
      <ng-container *ngFor="let item of data; let i = index">
        <div [ngSwitch]="item.type" *ngIf="item.isVisible; else hiddenContent">
          <div
            *ngSwitchCase="enumValue.FIRST_TYPE"
            [ngStyle]="{
                border: '2px solid white',
                width: '150px',
                height: '250px',

              }"
          >
            <h3 [ngStyle]="{ color: 'white', textAlign: 'center' }">
              {{ item.title }}
            </h3>
            <img
              [ngStyle]="{ width: '100px' }"
              [src]="item.url"
              [alt]="item.title"
            />
            <button
              (click)="toggleContentVisibility(item)"
              [ngStyle]="{
                'background-color': 'transparent',
                border: '1px solid white',
                color: 'white',
                padding: '5px 10px',
                'margin-bottom': '10px'
              }"
            >
              Toggle Visibilty
            </button>
          </div>
          <div
            *ngSwitchCase="enumValue.SECOND_TYPE"
            [ngStyle]="{
              width: '150px',
              'background-color': 'white',
              height: '250px',
              border: '2px solid black',


            }"
          >
            <h3 [ngStyle]="{ color: 'black' }">{{ item.title }}</h3>
            <img
              [ngStyle]="{ width: '70px' }"
              [src]="item.url"
              [alt]="item.title"
            />
            <button
              (click)="toggleContentVisibility(item)"
              [ngStyle]="{
                'background-color': 'transparent',
                border: '1px solid black',
                color: 'black',
                padding: '5px 10px',
                'margin-bottom': '10px'
              }"
            >
              Toggle Visibilty
            </button>
          </div>
        </div>
        <ng-template #hiddenContent
          ><div
            [ngStyle]="{
            border: '2px solid white',
            width: '150px',
      
          }"
          >
            <p>Data is hidden</p>
            <button
              (click)="toggleContentVisibility(item)"
              [ngStyle]="{
                'background-color': 'transparent',
                border: '1px solid white',
                color: 'white',
                padding: '5px 10px',
                'margin-bottom': '10px'
              }"
            >
              Toggle Visibilty
            </button>
          </div>
        </ng-template>
      </ng-container>
    </div></ng-template
  >
</main>
