.first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100vw - 250px);
  &__title {
    color: red;
    font-size: 36px;
  }
}
