<div class="container">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutGap="20px">
    <mat-icon [matBadge]="getUsers().length" matBadgeColor="accent"
      >person</mat-icon
    >
    <span>My App</span>
  </mat-toolbar>

  <nav>
    <mat-tab-group>
      <mat-tab label="Users Form">
        <form
          [formGroup]="usersForm"
          (ngSubmit)="onSubmit()"
          [fxLayout]="isSmallScreen ? 'column' : 'row'"
          fxLayoutGap="10px"
        >
          <div formArrayName="users" fxLayoutGap="30px" fxLayout="column">
            <div
              *ngFor="let user of getUsers().controls; let i = index"
              class="form"
            >
              <div
                [formGroupName]="i"
                fxLayout="row wrap"
                fxLayoutGap="30px"
                [fxLayoutAlign]="isSmallScreen ? 'center center' : ''"
                style="position: relative"
              >
                <mat-icon class="close-btn" (click)="deleteUser(i)"
                  >close</mat-icon
                >

                <div *ngIf="user.get('id')?.value">
                  <mat-form-field>
                    <mat-label>ID:</mat-label>
                    <input matInput formControlName="id" />
                  </mat-form-field>
                </div>
                <br />

                <mat-form-field>
                  <mat-label>Ім'я:</mat-label>
                  <input matInput placeholder="Дана" formControlName="name" />
                  <mat-error
                    *ngIf="
                      user.get('name')?.invalid &&
                      (user.get('name')?.touched || user.get('name')?.dirty)
                    "
                    >Ім'я обов'язкове поле</mat-error
                  >
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Прізвище:</mat-label>
                  <input
                    matInput
                    placeholder="Тодоряк"
                    formControlName="lastname"
                  />
                  <mat-error
                    *ngIf="
                      user.get('lastname')?.invalid &&
                      (user.get('lastname')?.touched ||
                        user.get('lastname')?.dirty)
                    "
                    >Прізвище обов'язкове поле</mat-error
                  >
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Тип:</mat-label>
                  <mat-select formControlName="type">
                    <mat-option value="type A">Тип A</mat-option>
                    <mat-option value="type B">Тип B</mat-option>
                    <mat-option value="type C">Тип C</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Електронна адреса:</mat-label>
                  <input
                    matInput
                    placeholder="todoriak@gmail.com"
                    formControlName="email"
                  />
                  <mat-error
                    *ngIf="
                      user.get('email')?.invalid &&
                      (user.get('email')?.touched || user.get('email')?.dirty)
                    "
                  >
                    Пошта обов'язкове поле та має бути в правильному форматі
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Пароль:</mat-label>
                  <input matInput formControlName="password" />
                  <mat-error
                    *ngIf="
                      user.get('password')?.invalid &&
                      (user.get('password')?.touched ||
                        user.get('password')?.dirty)
                    "
                  >
                    Пароль обов'язкове поле та має бути в правильному форматі
                  </mat-error>
                </mat-form-field>

                <div *ngIf="!user.get('id')?.value">
                  <mat-form-field>
                    <mat-label>Підтвердіть пароль:</mat-label>
                    <input matInput formControlName="confirmPassword" />
                    <mat-error
                      *ngIf="
                        user.get('confirmPassword')?.invalid &&
                        (user.get('confirmPassword')?.touched ||
                          user.get('confirmPassword')?.dirty)
                      "
                    >
                      Повторний пароль обов'язкове поле, має бути в правильному
                      форматі та співпадати з попереднім полем
                    </mat-error>
                  </mat-form-field>
                </div>

                <mat-form-field>
                  <mat-label>Опис:</mat-label>
                  <textarea matInput formControlName="description"></textarea>
                </mat-form-field>

                <mat-radio-group formControlName="sex">
                  <mat-radio-button value="MALE" color="primary"
                    >Чоловік</mat-radio-button
                  >
                  <mat-radio-button value="FEMALE" color="warn"
                    >Жінка</mat-radio-button
                  >
                </mat-radio-group>

                <mat-form-field style="height: 75px">
                  <mat-label>Номер телефону:</mat-label>
                  <input matInput formControlName="phone" />
                  <mat-error
                    *ngIf="
                      user.get('phone')?.invalid &&
                      (user.get('phone')?.touched || user.get('phone')?.dirty)
                    "
                  >
                    Номер телефону має бути в правильному форматі
                  </mat-error>
                </mat-form-field>

                <div [formGroup]="getUserSubjects(i)">
                  <div formArrayName="subjectsArray">
                    <div
                      *ngFor="
                        let subjects of getSubjectArray(i).controls;
                        let j = index
                      "
                    >
                      <div
                        [formGroupName]="j"
                        [fxLayoutGap]="isSmallScreen ? '-10px' : '10px'"
                        [fxLayout]="isSmallScreen ? 'column' : 'row'"
                      >
                        <mat-form-field appearance="fill">
                          <label for="subjectInput">Новий предмет:</label>
                          <input
                            matInput
                            type="text"
                            id="subjectInput"
                            formControlName="subject"
                          />
                        </mat-form-field>

                        <button
                          mat-raised-button
                          color="warn"
                          (click)="deleteSubject(i, j)"
                          type="button"
                        >
                          Видалити предмет
                        </button>
                      </div>
                    </div>
                  </div>

                  <button
                    mat-raised-button
                    color="primary"
                    (click)="addSubject(i)"
                    type="button"
                    style="margin-top: 10px"
                  >
                    Додати предмет
                  </button>
                </div>
                <br />
              </div>
            </div>
          </div>

          <div fxLayoutGap="10px" fxLayout="column">
            <button
              type="button"
              (click)="addUser()"
              mat-raised-button
              color="warn"
            >
              Нова форма
            </button>
            <button
              type="submit"
              [disabled]="usersForm.invalid"
              mat-raised-button
              color="accent"
            >
              Додати юзерів
            </button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Pets">
        <mat-chip-listbox>
          <mat-chip-option
            *ngFor="let chip of chipItems"
            [selected]="chip.selected"
            (click)="selectChip(chip)"
            color="accent"
            >{{ chip.label }}</mat-chip-option
          >
        </mat-chip-listbox>
        <mat-divider style="margin: 10px 0"></mat-divider>

        <div *ngIf="selectedChip">
          <img [src]="images[selectedChip.label]" class="image" />
        </div>
      </mat-tab>
    </mat-tab-group>
  </nav>
</div>
