<div class="container">
  <form [formGroup]="usersForm" (ngSubmit)="onSubmit()">
    <div formArrayName="users" class="form">
      <div *ngFor="let user of getUsers().controls; let i = index">
        <div [formGroupName]="i">
          <div *ngIf="user.get('id')?.value">
            <label for="id">ID:</label>
            <input type="text" id="id" formControlName="id" />
          </div>
          <br />

          <label for="name">Ім'я:</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            [ngClass]="{
              'error-input':
                user.get('name')?.invalid &&
                (user.get('name')?.touched || user.get('name')?.dirty)
            }"
          />
          <div
            *ngIf="
              user.get('name')?.invalid &&
              (user.get('name')?.touched || user.get('name')?.dirty)
            "
            class="error-message"
          >
            Ім'я обов'язкове поле
          </div>
          <br />

          <label for="lastname">Прізвище:</label>
          <input
            type="text"
            id="lastname"
            formControlName="lastname"
            [ngClass]="{
              'error-input':
                user.get('lastname')?.invalid &&
                (user.get('lastname')?.touched || user.get('lastname')?.dirty)
            }"
          />
          <div
            *ngIf="
              user.get('lastname')?.invalid &&
              (user.get('lastname')?.touched || user.get('lastname')?.dirty)
            "
            class="error-message"
          >
            Прізвище обов'язкове поле
          </div>
          <br />

          <label for="type">Тип:</label>
          <select id="type" formControlName="type">
            <option value="type A">Тип A</option>
            <option value="type B">Тип B</option>
            <option value="type C">Тип C</option>
          </select>
          <br />

          <label for="email">Електронна адреса:</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            [ngClass]="{
              'error-input':
                user.get('email')?.invalid &&
                (user.get('email')?.touched || user.get('email')?.dirty)
            }"
          />
          <div
            *ngIf="
              user.get('email')?.invalid &&
              (user.get('email')?.touched || user.get('email')?.dirty)
            "
            class="error-message"
          >
            Пошта обов'язкове поле та має бути в правильному форматі
          </div>
          <br />

          <label for="password">Пароль:</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            [ngClass]="{
              'error-input':
                user.get('password')?.invalid &&
                (user.get('password')?.touched || user.get('password')?.dirty)
            }"
          />
          <div
            *ngIf="
              user.get('password')?.invalid &&
              (user.get('password')?.touched || user.get('password')?.dirty)
            "
            class="error-message"
          >
            Пароль обов'язкове поле та має бути в правильному форматі
          </div>
          <br />

          <div *ngIf="!user.get('id')?.value">
            <label for="confirmPassword">Підтвердіть пароль:</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              [ngClass]="{
                'error-input':
                  user.get('confirmPassword')?.invalid &&
                  (user.get('confirmPassword')?.touched ||
                    user.get('confirmPassword')?.dirty)
              }"
            />
            <div
              *ngIf="
                user.get('confirmPassword')?.invalid &&
                (user.get('confirmPassword')?.touched ||
                  user.get('confirmPassword')?.dirty)
              "
              class="error-message"
            >
              Повторний пароль обов'язкове поле, має бути в правильному форматі
              та співпадати з попереднім полем
            </div>
          </div>
          <br />

          <label for="description">Опис:</label>
          <textarea id="description" formControlName="description"></textarea>

          <label>Стать:</label>
          <input type="radio" formControlName="sex" value="MALE" id="male" />
          <label for="male">Чоловік</label>
          <input
            type="radio"
            formControlName="sex"
            value="FEMALE"
            id="female"
          />
          <label for="female">Жінка</label>
          <br />

          <div [formGroup]="getUserSubjects(i)" style="border: 1px solid black">
            <div formArrayName="subjectsArray">
              <div
                *ngFor="
                  let subjects of getSubjectArray(i).controls;
                  let j = index
                "
              >
                <div [formGroupName]="j">
                  <label for="subjectInput">Новий предмет:</label>
                  <input
                    type="text"
                    id="subjectInput"
                    formControlName="subject"
                  />
                  <br />

                  <button type="button" (click)="deleteSubject(i, j)">
                    Видалити предмет
                  </button>
                </div>
              </div>
            </div>
            <br />

            <button type="button" (click)="addSubject(i)">
              Додати предмет
            </button>
          </div>

          <br />

          <label for="phone">Номер телефону:</label>
          <input
            type="tel"
            id="phone"
            formControlName="phone"
            [ngClass]="{
              'error-input':
                user.get('phone')?.invalid &&
                (user.get('phone')?.touched || user.get('phone')?.dirty)
            }"
          />
          <div
            *ngIf="
              user.get('phone')?.invalid &&
              (user.get('phone')?.touched || user.get('phone')?.dirty)
            "
            class="error-message"
          >
            Номер телефону має бути в правильному форматі
          </div>
        </div>
      </div>
    </div>

    <button type="button" (click)="addUser()">Додати нового юзера</button>
    <button type="submit" [disabled]="usersForm.invalid">Submit</button>
  </form>
</div>
